.chat-header {
    text-align: center;
}

.chat-conversa {

}

.chat-mensagem {
}

.chat-conteudo {
    display: grid;
    grid-template-rows: 80px auto 80px;
    height: calc(100vh - 165px);
    padding: 5px;
}